.parent {
    display: grid;
    flex-shrink: 1;
    flex-grow: 0;
}

.borderOverlay,
.sponsorParent {
    width: 455px;
    height: 340px;
    grid-area: 1/1;
}

.borderOverlay {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.topRightBorder {
    top: 0px;
    right: 0px;
    left: auto;
    z-index: 5;
}

.sponsorParent {
    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.title {
    width: 425px;
    height: 85px;
    flex-shrink: 0;
    transform: translateY(-15%);
    background: rgba(57, 158, 184, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleBorder {
    color: #fff;
    text-align: center;
    font-family: ROG;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 405px;
    height: 65px;
    flex-shrink: 0;
    border: 5px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    width: 425px;
    height: 195px;
    flex-shrink: 0;

    border: 0.5px solid #fff;
    background: rgba(2, 33, 41, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}