.parent {
    display: grid;
    flex-shrink: 1;
    flex-grow: 0;

    @media screen and (max-width:560px) {
        transform: scale(0.65);
    }
    z-index: 4;
}

.borderOverlay,
.sponsorParent {
    width: 341px;
    height: 255px;
    grid-area: 1/1;
}

.borderOverlay {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.topBorder{
    transform: translateY(-7px);
}
.topRightBorder {
    top: 0px;
    right: 0px;
    left: auto;
    z-index: 5;
}

.sponsorParent {
    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.title {
    width: 318px;
    height: 64px;
    flex-shrink: 0;
    transform: translateY(-15%);
    background: rgba(57, 158, 184, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleBorder {
    color: #fff;
    text-align: center;
    font-family: ROG;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 304px;
    height: 49px;
    flex-shrink: 0;
    border: 5px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    width: 319px;
    height: 146px;
    flex-shrink: 0;

    border: 0.5px solid #fff;
    background: rgba(2, 33, 41, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
}
.logo{
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
}