

.title{
    margin-top: 7rem;
}

.leafletcontainer {
	width: 50vw;
	height: 60vh;
	z-index: 380;
    position: absolute;
    top: 12rem;
    right: 5rem;
}

.legend{
    position: absolute;
    left: 10rem;
    top: 12rem;
    width: 25rem;
    background-color: #FFFFFF17;
    padding: 0 0 1rem;
}

.legendTitle{
    background-color: white;
    color: black;
    font-family: "ROG";
    padding: 0.1rem 0.5rem ;
    font-size: 1.5rem;
}

.legendItem{
    margin: 0 1rem;
    border: 1px solid white; 
    position: relative;
    margin-top: 1rem;
    padding: 0.2rem 0.8rem;
    font-size: 0.8rem;
    display: flex;
    font-family: "Orbitron";
    /* justify-content: center; */
    align-items: center;
    gap: 1rem;
}

.legendItem img{
    width: 2rem;
}

.legendItem:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 5px solid #ffea00;
}


.legendMobile{
    display: none;
}


@media only screen and (max-width:  992px) {
    .leafletcontainer{
        width: 100%;
        height: 80vh;
        right: 0rem;
        top: 20rem;
    }
    .legend{
        display: none;
    }
    .legendMobile{
        display: flex;
        width: 100vw;
        position: absolute;
        top: 10rem;
        justify-content: center;
    }
    .legendItemMobile{
        border: 1px solid white;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin: 1rem;
        width: 40vw;
        padding: 0.2rem 0.5rem;
        font-size: 0.7rem;
    }
    .legendItemMobile img{
        width: 1.2rem;
    }
  }
