.parent {
    position: relative;
    width: 90%;
    height: 75%;
    border: 1px solid #ddd;
    border-radius: 50px;
    box-sizing: border-box;
}

.edge {
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: transparent;
}

.topLeft {
    top: 0;
    left: 0;
    background: url('../../assets/images/abouttopleft.png');
    background-size: cover;
}

.topRight {
    top: 0;
    right: 0;
    background: url('../../assets/images/abouttopright.png');
    background-size: cover;
}

.bottomLeft {
    bottom: 0;
    left: 0;
    background: url('../../assets/images/aboutbottomleft.png');
    background-size: cover;
}

.bottomRight {
    bottom: 0;
    right: 0;
    background: url('../../assets/images/aboutbottomright.png');
    background-size: cover;
}

.content {
    border: 1px solid #ddd;
    border-radius: 2px;
}

@media screen and ((width > 600px) and (width < 1000px)) {
    .parent {
        width: 30rem;
        height: 75%;
    }
    
}

/* .topWedge {
    width: 70px;
    height: 6.9px;
    left: 50%;
    transform: translate(-40%,-10%);
    background: url('../../assets/images/aboutWedge.png');
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(1.2);
}

.bottomWedge {
    width: 70px;
    height: 8px;
    left: 50%;
    transform: translate(-40%,-50%);
    transform: rotate(90deg);
    background: url('../../assets/images/aboutWedge.png');
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(1.2);
} */
