@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ROG';
    src: url('../assets/fonts/7032-fontps.ttf');
}

@font-face {
    font-family: 'ROGG';
    src: url('../assets/fonts/rog.ttf');
}

@font-face {
    font-family: 'Orbitron';
    src: url('../assets/fonts/Orbitron-Regular.ttf');
}

@font-face {
  font-family: 'Nunito';
  src : url('../assets/fonts/Nunito-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'sevenseg';
    src: url('../assets/fonts/7segment.ttf');
}

* {
    -moz-user-drag: none;
    -webkit-user-drag: none;
    -ms-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

html {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

#root,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    color: white;
}

.footer-bg {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.45);
}

.home {
    background: url('../assets/images/kamartaj.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #070b12;
}

.about {
    background: url('../assets/images/aboutBG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #070b12;
}

.AboutCard {
    background: url('../assets/images/aboutCard.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.AboutCardContent {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
}

.scrolled {
    animation: fadeout 1.5s;
    -moz-animation: fadeout 1.5s;
    -webkit-animation: fadeout 1.5s;
    -o-animation: fadeout 1.5s;
}

.blue-scroll {
    animation: blue-glow 0.5s;
    -moz-animation: blue-glow 1.5s;
    -webkit-animation: blue-glow 1.5s;
    -o-animation: blue-glow 1.5s;
    animation-delay: 0.8s;
}

@keyframes blue-glow {
    from {
        background-color: initial;
    }
    to {
        background-color: #7efbfe;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.transitioned {
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
    -o-animation: fadein 5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.wingman {
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

@media screen and (max-width: 600px) {
    .home {
        background: url('../assets/images/homeBGMOB.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .AboutCard {
        background: url('../assets/images/aboutCardMOB.png');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
    }
}

.carousel-torch:hover {
    animation: torch 1s;
}

.rings {
    animation: rings 0.7s;
}
.rings2 {
    animation: rings2 0.7s;
}
.fullrings {
    animation: fullrings 0.7s;
}

@keyframes torch {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rings {
    0% {
        transform: translateY(-30vh);
    }
    90% {
        transform: translateY(20vh);
    }
}

@keyframes rings2 {
    0% {
        transform: translateY(-60vh);
    }

    90% {
        transform: translateY(20vh);
    }
}

@keyframes fullrings {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes anim {
    0% {
        mask-image: radial-gradient(circle, #000 90%, transparent 90%);
        mask-position: 0% 0%;
    }
    80% {
        mask-position: 0% 800px;
    }
    81% {
        mask-image: none;
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}


.sevensegtext{
    font-family: 'sevenseg';
    font-size: 4rem;
}

@media screen and (max-width: 1240px) and (height > 800px) {
    .loadingdivs {
        height: 19%;
    }
}

.rogfont{
    font-family: 'ROGG';
    font-size: 2.5rem;
}

@media screen and (max-width: 1240px) {
    .rogfont{
        font-size: 1rem;
    }
}

.greenbutton{
    filter: hue-rotate(137deg) drop-shadow(0 0 20px #23A347) brightness(120%);
}

@media screen and (min-width: 1240px) {
    .about {
        min-height: max(100vh, 742px);
    }
}