@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ROG';
    src: url('../assets/fonts/7032-fontps.ttf');
}

@font-face {
    font-family: 'ROGG';
    src: url('../assets/fonts/rog.ttf');
}

@font-face {
    font-family: 'Orbitron';
    src: url('../assets/fonts/Orbitron-Regular.ttf');
}

@font-face {
    font-family: 'Nunito';
    src: url('../assets/fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'sevenseg';
    src: url('../assets/fonts/7segment.ttf');
}

* {
    -moz-user-drag: none;
    -webkit-user-drag: none;
    -ms-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

html {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

#root,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    color: white;
}

.page-layout {
    min-height: max(100vh, 760px);
}

.footer-bg {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.45);
    z-index: 10000;
}

.home {
    background: url('../assets/images/kamartaj.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #070b12;
}

.about {
    background: url('../assets/images/aboutBG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #070b12;
}

.AboutCard {
    background: url('../assets/images/aboutCard.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.AboutCardContent {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
}

.scrolled {
    animation: fadeout 1.5s;
    -moz-animation: fadeout 1.5s;
    -webkit-animation: fadeout 1.5s;
    -o-animation: fadeout 1.5s;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.blue-scroll {
    animation: blue-glow 0.5s;
    -moz-animation: blue-glow 1.5s;
    -webkit-animation: blue-glow 1.5s;
    -o-animation: blue-glow 1.5s;
    animation-delay: 0.8s;
}

@keyframes blue-glow {
    from {
        background-color: initial;
    }

    to {
        background-color: #000;
    }
}

.transitioned {
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
    -o-animation: fadein 5s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.wingman {
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

@media screen and (max-width: 600px) {
    .home {
        background: url('../assets/images/homeBGMOB.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .AboutCard {
        background: url('../assets/images/aboutCardMOB.png');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
    }
}

.carousel-torch:hover {
    animation: torch 1s;
}

.rings {
    animation: rings 0.7s;
}

.rings2 {
    animation: rings2 0.7s;
}

.fullrings {
    animation: fullrings 0.7s;
}

@keyframes torch {
    0% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rings {
    0% {
        transform: translateY(-30vh);
    }

    90% {
        transform: translateY(20vh);
    }
}

@keyframes rings2 {
    0% {
        transform: translateY(-60vh);
    }

    90% {
        transform: translateY(20vh);
    }
}

@keyframes fullrings {
    0% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes anim {
    0% {
        mask-image: radial-gradient(circle, #000 90%, transparent 90%);
        mask-position: 0% 0%;
    }

    80% {
        mask-position: 0% 800px;
    }

    81% {
        mask-image: none;
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

.sevensegtext {
    font-family: 'sevenseg';
    font-size: 4rem;
}

@media screen and (max-width: 1240px) and (height > 800px) {
    .loadingdivs {
        height: 19%;
    }
}

.rogfont {
    font-family: 'ROGG';
    font-size: 2.5rem;
}

@media screen and (max-width: 1240px) {
    .rogfont {
        font-size: 1rem;
    }
}

.greenbutton {
    filter: hue-rotate(137deg) drop-shadow(0 0 20px #23a347) brightness(120%);
}

@media screen and (min-width: 1024px) {
    .about {
        min-height: max(100vh, 742px);
    }
}

@media screen and (min-width: 1540px) {
    .about {
        min-height: max(100vh, 860px);
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(170, 168, 168);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(126, 251, 254, 1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(126, 251, 254, 1);
}

.loading svg polyline {
    fill: none;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  
  .loading svg polyline#back {
    fill: none;
    stroke: rgb(51, 90, 90)
  }
  
  .loading svg polyline#front {
    fill: none;
    stroke: rgb(0, 247, 255);
    stroke-dasharray: 48, 144;
    stroke-dashoffset: 192;
    animation: dash_682 1.4s linear infinite;
  }
  
  @keyframes dash_682 {
    72.5% {
      opacity: 0;
    }
  
    to {
      stroke-dashoffset: 0;
    }
  }
