/* menu.module.css */

.navLink {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.navLink:hover {
    text-shadow:
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #fff;
}

/* #menubg {
    background: url('../../assets/images/menubg.png') no-repeat;
    background-size: fill;
    animation: fadeInLast 3s ease-in-out;
} */

@keyframes fall {
    0% {
        transform: translateY(-100vh);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fadeInFirst {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInLast {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



@keyframes fadeInMobile {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeInMobileMain {
    0% {
        opacity: 0;

    }
    30%{
        opacity: 0;
        transform: translateX(-20%);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

#mainContent {
    animation: fadeInLast 1.5s ease-in-out;
}

#disk {
    animation: fall 1.5s linear;
    z-index: 20;
}

#glow {
    animation: fadeInFirst 1.5s ease-in-out;
}

#menubg {
    animation: fadeInLast 1.5s ease-in-out;
}

.li{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.li:nth-child(2n + 1) {
    margin-top: 5rem;
}
.li:nth-child(3n) {
    margin-top: 12rem;
}

.li:nth-child(3) {
    margin-top: 0rem;
}

/* 
@keyframes imagewipe {
    0% {
        opacity: 0;
        width: 0%;
    }
    100% {
        opacity: 1;
        width: 100%
    }
} */

@media (max-width: 1020px) {
    .menubg {
        background: url('../../assets/images/bgphone.png') no-repeat;
        background-size: contain;
        animation: fadeInMobile 1.2s ease-out;
    }
    #mainContent{
        animation: fadeInMobileMain 1.2s ease-out;
    }

    .li:nth-child(2n + 1) {
        margin-top: 0rem;
        margin-left: 2rem;
    }
    .li:nth-child(3n) {
        margin-top: 0rem;
        margin-left: 1rem;
    }

    #disk {
        display:none;
    }
    #glow{
        display:none;
    }
}
