.rightArrow {
    background: url(../../assets/images/rightArrow.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 46.5%;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12%;
    height: 12%;
    left: auto;
    right: 0%;
    transition: 0.3s all;
}

.leftArrow {
    background: url(../../assets/images/leftArrow.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 46.5%;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12%;
    height: 12%;
    left: 0%;
    right: auto;
    transition: 0.3s all;
}

.leftArrow:hover {
    background: url(../../assets/images/leftArrowGlow.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 46.5%;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12%;
    height: 12%;
    left: 0%;
    right: auto;
}

.rightArrow:hover {
    background: url(../../assets/images/rightArrowGlow.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 46.5%;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12%;
    height: 12%;
    left: auto;
    right: 0%;
}

.leftArrow:active,
.rightArrow:active {
    transform: scale(0.75);
}

.slideElem {
    width: 70%;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
}

.mainSlide {
    background: url(../../assets/images/Slide.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    height: 100%;
    margin-top: 5%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.eventSlide {
    overflow-y: hidden;
    overflow-x: hidden;
}

.leftSC {
    background: url(../../assets/images/leftSandClock.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 3%;
    height: 108%;
}

.rightSC {
    background: url(../../assets/images/rightSandClock.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 3%;
    height: 108%;
}

.registerBlock {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.registerButton {
    background: url(../../assets/images/RegisterButton.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    position: sticky;
    width: 50%;
    height: 45%;
    margin: 0px;
    padding: 0px;
    margin-top: auto;
    margin-bottom: 0px;
    transition: 0.2s;
}

.registeredButton {
    background: url(../../assets/images/RegisteredButton.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    position: sticky;
    width: 50%;
    height: 45%;
    margin: 0px;
    padding: 0px;
    margin-top: auto;
    margin-bottom: 0px;
    transition: 0.2s;
}

.content {
    overflow-y: auto;
}

.content::-webkit-scrollbar {
    background: transparent;
    width: 2px;

}

.content::-webkit-scrollbar-thumb {
    background: cyan;
}

.tabs {
    height: 50%;
    transition: color 0.3s ease-in-out;
}

.active {
    border-bottom: 2px solid white;
}

.markdown>* {
    all: revert;
}

@media screen and (min-width : 1024px) {
    .slideIntro1 {
        display: none;
    }

    .eventI {
        display: none;
    }
}

.content {
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: justify;
    word-wrap: normal;
}

@media screen and (max-width : 1024px) {
    .slideInfo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .slideIntro1 {
        width: 100%;
        padding: 0%;
        margin: 0%;
    }

    .slideEnd {
        position: sticky;
        margin-top: auto;
        margin-bottom: 0px;
    }

    .eventImg {
        width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .slideElem {
        width: 85%;
        height: 100%;
    }

    .rightArrow {
        top: 22.5%;
    }

    .leftArrow {
        top: 22.5%;
    }

    .rightArrow:hover {
        top: 22.5%;
    }

    .leftArrow:hover {
        top: 22.5%;
    }

    .tabs {
        height: 50%;
        font-size: 60%;
    }

    .content {
        font-size: 14px;
    }

    .eventDes {
        padding: 8px;
    }

    .registerBlock {
        width: 100%;
    }

    .registerButton {
        width: 75%;
    }

    .mainSlide {
        margin-top: 5%;
    }

    .eventI {
        margin-top: 1%;
    }
}



@media screen and (max-width : 600px) {
    .eventImg {
        width: 75%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}